    body{
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      height: 80vh;
    }
    header, footer {
      background: linear-gradient(to right, #00c6ff,#0072ff);
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    header{
      background-color: #333;
      color: white;
      padding: center;
      text-align: center;
    }
    nav {
      background-color: #f0f0f0;
      padding: 10px;
    }
    nav ul {
      list-style-type: none;
      margin: 20px;
    }
    nav li {
      display: inline;
      padding: 5px 10px;
      float: left;
    }
    nav li:hover{
      background-color: #ff6e7f;
      border-color: #999;
    }
    nav ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-right: 20px;
    }
    nav a {
      color: #333;
      text-decoration: none;
    }
    nav a:hover {
      color: #ffffff;
    }
    section {
      padding: 20px;
      height: 35vh;
      max-width: 800px;
    }
    section h2 {
      line-height: 1.5;
      color: #0072ff;
      text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    }
    section p {
      line-height: 1.8;
      text-shadow: 1px 1px 2px rgba(0,0,0,0.05);
    }
    footer {
      background-color: #333;
      color: white;
      padding: 10px;
      text-align: center;
    }
    .container{
      max-width: 600px;
      margin: 0 auto;
    }
    .form{
      background-color: #52739c;
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 20px;
      }
      .form label {
        display: block;
        margin-bottom: 10px;
      }
      .form input, .form textarea {
        width: 90%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      .form input[type="submit"] {
        background-color: #ff6e7f;
        color: white;
        cursor: pointer;
      }
      .form input[type="submit"]:hover {
        background-color: #999;
      }
      .form p.hidden {
        display: none;
      }